# Backend API URL
VITE_API_URL=https://lude-backend.onrender.com

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBnHkQs5coHDxDRl9T7VQRaXUkCKawRnYM
VITE_FIREBASE_AUTH_DOMAIN=lude-5f77f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=lude-5f77f
VITE_FIREBASE_STORAGE_BUCKET=lude-5f77f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=319500017882
VITE_FIREBASE_APP_ID=1:319500017882:web:b7e4aeeddc81b1a028c5e3

# Admin Settings
VITE_ADMIN_EMAIL=gcomparini@gmail.com
